/* splitting.js css propoerties set here used for the ribbon https://splitting.js.org */

.word {
  font-size: $ucla-font-size-large;
  @media (min-width: $ucla-bp-small) {
    font-size: $ucla-font-size-x-large;
  }
  @media (min-width: $ucla-bp-large) {
    font-size: $ucla-font-size-xx-large;
  }
  font-weight: bold;
  margin: .25rem;
  padding: .25em;
  color: #fff;
  line-height: 1.125;
  text-transform: uppercase;
  background-color: $ucla-blue;
}



.whitespace {
  margin: -7px;
  padding: 0;
}