/* HERO IMAGE */

.hero {
  display: grid;
  position: relative;
}

.hero img {
  grid-row: 1;
  z-index: 0;
  width: 100vw;
  min-height: 500px;
  object-fit: cover;
  object-position: right top;
}

.hero .ribbon {
  grid-row: 1;
  z-index: 1;
  position: absolute;
  bottom: 10%;
  left: 10%;
  @media (min-width: $ucla-bp-large) {
    bottom: 30%;
    left: 22%;
  }
}

.hero figcaption {
  max-width: 60ch;
}

